<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd">

<!-- 开启注解 -->
<mvc:annotation-driven/>     
<!-- 对静态资源文件的访问,因为Spring MVC会拦截所有请求,导致JSP页面中对JS和CSS的引用也被拦截,配置后可以把对资源的请求交给项目的默认拦截器而不是Spring MVC-->     
<mvc:resources mapping="/js/**" location="/WEB-INF/js/" />

<!-- 扫描controller -->
<context:component-scan base-package="com.springmvc.controller"></context:component-scan>

<!-- 视图解析器 -->  
<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	<!-- 设置视图页面的前缀及后缀名 -->
	<property name="prefix" value="/WEB-INF/jsp/"></property>
	<property name="suffix" value=".jsp"></property>
</bean>     

<!-- 需要在 Spring MVC的配置文件中配置上传文件的支持 -->
<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
	<property name="defaultEncoding" value="utf-8"/>  
	<!-- 临时内存最大值设置 -->  
	<property name="maxInMemorySize" value="10240"/>  
	<!-- 最大文件大小，-1为不限制大小 -->  
	<property name="maxUploadSize" value="-1"/>
</bean>      
</beans>